<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reportes.Properties.Settings.DBMETALConnectionString" connectionString="Data Source=Zeus;Initial Catalog=DBMETAL;Persist Security Info=True;User ID=sainventario;Password=G3.#972136-c" providerName="System.Data.SqlClient"/>
        <add name="Reportes.Properties.Settings.ConnectionString" connectionString="Dsn=DBMETAL;uid=sainventario;pwd=G3.#972136-c" providerName="System.Data.Odbc"/>
        <add name="Reportes.Properties.Settings.DBMETALConnectionString1" connectionString="Data Source=srvzeus;Initial Catalog=DBMETAL;User ID=sainventario;Password=G3.#972136-c" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
